{% extends 'base.html' %}
{% block content %}
<h2>Edit Song</h2>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="song_name" value="{{ song.song_name }}"><br>
    <input type="text" name="artist_name" value="{{ song.artist_name }}"><br>
    <input type="date" name="releasedate" value="{{ song.releasedate }}"><br>
    <input type="url" name="url" value="{{ song.url }}"><br>
    <input type="number" name="views" value="{{ song.views }}"><br>
    <button type="submit">Update</button>
</form>
{% endblock %}
