{% extends 'base.html' %}
{% block content %}
<h2>All Songs</h2>
<form method="POST">
    {% csrf_token %}
    <input type="text" name="search" placeholder="Search by song or artist">
    <button type="submit">Search</button>
</form>
<a href="{% url 'add' %}">Add New Song</a>
{% if songs %}
<table border="1">
    <tr>
        <th>Song</th><th>Artist</th><th>Release</th><th>Views</th><th>Actions</th>
    </tr>
    {% for song in songs %}
    <tr>
        <td>{{ song.song_name }}</td>
        <td>{{ song.artist_name }}</td>
        <td>{{ song.releasedate }}</td>
        <td>{{ song.views }}</td>
        <td>
            <a href="{% url 'edit' song.id %}">Edit</a> |
            <a href="{% url 'delete' song.id %}">Delete</a> |
            <a href="{% url 'info' song.id %}">Info</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2> No Data</h2>
{% endif %}
{% endblock %}
